<!DOCTYPE html>
<html lang="en">
<head>
    <title>wikie | Forbidden!</title>
    {{ template "libraries" }}
</head>
<body>
{{ template "header" }}
<main>
    <article class="card">
        <header><h1>Forbidden!</h1></header>
        <img src="/static/shock.png">
        <footer>
            <p>Make sure you have been provided the correct permissions to access this page.</p>
            <p>Are you also sure you are <a href="/">logged in</a>?</p>
            <button onclick="window.history.back()">Back to safety</button>
        </footer>
    </article>
</main>
</body>
</html>