{{ define "libraries" }}

    <link rel="stylesheet" href="//unpkg.com/picnic">
    <link rel="stylesheet" href="//unpkg.com/easymde/dist/easymde.min.css">
    <script src="//unpkg.com/easymde/dist/easymde.min.js"></script>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css" integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y" crossorigin="anonymous">
    <script defer src="//cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.js" integrity="sha384-K3vbOmF2BtaVai+Qk37uypf7VrgBubhQreNQe9aGsz9lB63dIFiQVlJbr92dw2Lx" crossorigin="anonymous"></script>


    <script src='//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


    <style>
        main {
            max-width: 960px;
            margin: auto;
            padding: 32px;
        }

        .editor-toolbar > button {
            color: black;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{{ end }}

{{ define "header" }}
    <div style="overflow: hidden;height: 4em;"> <!-- For Demo, Represents the body -->

        <nav>
            <a href="/w/home" class="brand">
                <span>wikie</span>
            </a>

            <!-- responsive-->
            <input id="bmenub" type="checkbox" class="show">
            <label for="bmenub" class="burger pseudo button">menu</label>

            <div class="menu">
                <form action="/search" method="get">
                    <label><input type="search" name="q" placeholder="search pages"/></label>
                    <input type="submit" style="visibility: hidden; display: none;">
                </form>
            </div>
        </nav>
    </div>
{{ end }}

{{ define "editor" }}
    <textarea id="editor"></textarea>
    <script type="text/javascript">
        var editor = new EasyMDE({
            element: document.getElementById("editor"),
            autoDownloadFontAwesome: true,
            insertTexts: {
                link:["[","]()"],
                image:["[","]()"]
            },
            promptURLS: true,
            showIcons: ['strikethrough', 'code', 'table', 'redo', 'heading', 'undo', 'heading-1', 'heading-2', 'heading-3', 'clean-block', 'horizontal-rule'],
        });
    </script>
{{ end }}

{{ define "blanks" }}
    <script type="text/javascript">
        Array.from(document.querySelectorAll('a[target="_blank"]'))
            .forEach(link => link.removeAttribute('target'));
    </script>
{{ end }}